---
---

@import "{{ site.theme }}";
// SETTINGS.SASS //
// Colors //
$color__salmon:         #f4645f;
$color__darker_salmon:  #e74430;
$color__faint:          #f0f2f1;
$color__gray:           #525252;
$color__light_gray:     #aeaeae;
$color__lighter_gray:   #dee0df;
$color__teal:           #27b4a8;

// Fonts //
$font:         'Source Sans Pro', sans-serif;
$font_alt:     'Miriam Libre', 'Source Sans Pro', sans-serif;
$font_code:    'Operator Mono', 'Fira Code', Consolas, Monaco, 'Andale Mono', monospace;

// BASE.SASS //
* { box-sizing: border-box; }

body {
    color: $color__gray;
    font-family: $font;
    font-size: 16px;
    background: #fff url('/assets/img/cloud-bar.png') repeat-x;
    padding-top: 10px;
}

h1, h2, h3, h4, h5, h6 {
    -webkit-font-smoothing: antialiased;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
}

a {
    color: $color__salmon;
    text-decoration: none;
}

h1 {
    font-size: 48px;
    font-weight: 200;
}

p {
    line-height: 1.5;
    margin: 10px 0 20px;
    strong { -webkit-font-smoothing: antialiased; }
}

.contain {
    max-width: 880px;
    margin: 0 auto;
}

p code {
    background: $color__faint;
    color: $color__salmon;
    padding: 1px 5px;
    border-radius: 3px;
}

code, kbd, pre, samp {
    font-family: source-code-pro, monospace;
    font-size: 14px;
}

blockquote {
    background: $color__salmon;
    color: #fff;
    border-radius: 3px;
    margin: 10px 0 20px;
    padding: 10px 15px;

    p:last-child { margin: 0; }
    a { color: #fff; }
}

.page-header {
    color: #fff;
    text-align: center;
    background-color: #f4645f;
    background-image: linear-gradient(120deg, #f4645f, #e69693);
}

.third {
    position: relative;
    min-height: 1px;
    margin-right: 15px;
    margin-left: 15px;
    flex-basis: 33.333333%;
}


@media all and (max-width: 800px) {
    .third {
        flex-basis: 100%;
    }
}

@media all and (max-width: 805px) {
    .home .hero .macbook { display: none; }
    .home .hero .browser-window { display: block; }

    .home .hero pre {
        position: relative;
        height: auto;
        left: auto;
        margin: 0 20px 30px;
        padding-bottom: 0;
        top: auto;
        width: auto;
    }
}

// DOCS.SASS //
.main-content {
    padding: 25px 125px 50px 50px;
    margin-left: 300px;

    ul {
        font-size: 14px;
    }

    .content-list ul li {
        margin: 8px;
        line-height: 1.65;
    }

    p {
        font-size: 14.5px;
        line-height: 1.70;
    }

    h1 + ul {
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 16px;
        font-weight: bold;
        line-height: 1.5;
        padding-bottom: 50px;
        border-bottom: 1px solid $color__faint;
        -webkit-font-smoothing: antialiased;
        li {
            &:before {
                content: "# ";
                margin-right: .25em;
                color: $color__salmon;
                opacity: .3;
            }
            a {
                text-decoration: none;
            }
        }
    }

    li > ul {
        font-size: 15px;
        font-weight: 400;
        list-style: none;
    }

    h2:first-of-type {
        margin-top: 15px;
    }

    h2 {
        font-size: 30px;
        font-weight: 400;
        margin-top: 55px;
        margin-bottom: 15px;
        position: relative;

        a,
        a:hover {
            color: $color__gray;
            text-decoration: none;
        }
        a:before {
            content: "#";
            margin-left: -25px;
            position: absolute;
            font-size: 28px;
            color: $color__salmon;
            opacity: .6;
        }
    }

    h3 {
        font-size: 24px;
        font-weight: 400;
        margin-top: 45px;
        margin-bottom: 10px;
    }

    h4 {
        font-size: 16px;
        font-weight: 700;
        margin-top: 35px;
        margin-bottom: 10px;
    }

    a {
        text-decoration: underline;
        &:hover {
            color: darken($color__salmon, 10%);
        }
    }

    blockquote a:hover {
        color: lighten($color__salmon, 25%);
    }

    table {
        border-collapse: collapse;
        width: 100%;
        font-size: 14px;
        th,
        td {
            border: 1px solid $color__lighter_gray;
            padding: 10px;
            text-align: left;
        }
        th {
            font-size: 16px;
        }
    }

    blockquote {
        padding: 1rem;
        margin-left: 0;
        color: #f3f6fa;
        font-size: 1rem;
    }
}

.main-content {
    h1,h2,h3,h4,h5,h6 {
        color: $color__salmon;
    }
}

.main-content blockquote {
    padding: 1rem;
    margin-left: 0;
    color: #f3f6fa;
    font-size: 1rem;
}

.main-content .svg svg {
    width: 24px;
}

.main-content #search-input:focus {
    box-shadow: none;
    outline: 0;
    border-color: #F4645F;
}

.docs-wrapper {
    overflow: hidden;
}

@media (max-width:1080px) {

    .main-content article {
        margin-left: 200px;
        padding: 15px 30px 30px;
        h2 a:before {
            margin-left: -20px;
        }
    }
}

@media (max-width: 1050px) {
    .twitter-typeahead .tt-dropdown-menu {
        left: -36px !important;
    }
}

@media (max-width:780px) {

    .main-content article {
        margin-left: 0px;
        h1 {
            margin-top: 0;
        }
    }
}

@media (max-width: 660px) {
    .twitter-typeahead .tt-dropdown-menu {
        left: -16px !important;
    }
}
// HOME.SASS //
// HOME.SASS //